<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon_acura</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon_acura</string>
			</dict>
			<key>AppIcon_bmw</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon_bmw</string>
			</dict>
			<key>AppIcon_buick</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon_buick</string>
			</dict>
			<key>AppIcon_chevy</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon_chevy</string>
			</dict>
			<key>AppIcon_chevy2</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon_chevy2</string>
			</dict>
			<key>AppIcon_dodge</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon_dodge</string>
			</dict>
			<key>AppIcon_dodge2</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon_dodge2</string>
			</dict>
			<key>AppIcon_ford</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon_ford</string>
			</dict>
			<key>AppIcon_ford2</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon_ford2</string>
			</dict>
			<key>AppIcon_honda</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon_honda</string>
			</dict>
			<key>AppIcon_jeep</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon_jeep</string>
			</dict>
			<key>AppIcon_mazda</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon_mazda</string>
			</dict>
			<key>AppIcon_mb</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon_mb</string>
			</dict>
			<key>AppIcon_mitsubishi</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon_mitsubishi</string>
			</dict>
			<key>AppIcon_nissan</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon_nissan</string>
			</dict>
			<key>AppIcon_plymouth</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon_plymouth</string>
			</dict>
			<key>AppIcon_pontiac</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon_pontiac</string>
			</dict>
			<key>AppIcon_porsche</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon_porsche</string>
			</dict>
			<key>AppIcon_subaru</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon_subaru</string>
			</dict>
			<key>AppIcon_toyota</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon_toyota</string>
			</dict>
			<key>AppIcon_volvo</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon_volvo</string>
			</dict>
			<key>AppIcon_vw</key>
			<dict>
				<key>CFBundleIconName</key>
				<string>AppIcon_vw</string>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
		<key>UIImageName</key>
		<string>LaunchImage</string>
		<key>UIImageRespectsSafeAreaInsets</key>
		<false/>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
